<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW4qxHMuIGS1OLpYXrHQ6Oq3wdgmE4e3us7A2qYXBC9O-VZ7sayVTfnYNupsL-ApnlsvQ&usqp=CAU">
<h1>Rajat Gaurav</h1>
<a href="https://www.linkedin.com/in/">linkedin</a>
<section id="projects">
<UL>
      
      <LI>project1
      <LI>project2
      <LI>project3
    </UL>
</section>
<section id="skills">
<UL>
      
      <LI>skill1
      <LI>skill2
      <LI>skill3
    </UL>
</section>