/*
HTML Code
*/

<main class="newton" id="school">
    <p class="hello-newton">Hello Newton School</p>
</main>


/*
CSS Code
*/

.newton{
    width: 150px;
    height: 150px;
    background-color: black;
}
.hello-newton{
    color: white;
    margin-left: 32px;
    padding: 10px;
}