<!-- Make a an element using the tag main, this tag is used to signify main content of a page. Give that tag a class of newton and id school. 

Inside the main element create another element for paragraph giving it a class of "hello-newton". 
It should contain the text "Hello Newton School" exactly(without the " "). 

This is all we need to do for the styling part. 

Using CSS style the main element to have width and height of 150px and 'black' as background color. 

Now to solve the issue of paragraph text not visible style the paragraph to have text color "white" and 
also give it a margin left of 32px and padding of 10px. -->

<!-- HTML Code -->

<main class="newton" id="school">
    <p class="hello-newton">Hello Newton School</p>
</main>


<!-- CSS Code -->

.newton{
    width: 150px;
    height: 150px;
    background-color: black;
}
.hello-newton{
    color: white;
    margin-left: 32px;
    padding: 10px;
}