<!-- A lot of developers use their own portfolio website to display their skills along with the resume. Let's create one for ourselves today through this assignment 

Acceptance Criteria 

- Insert your image with img tag 
- Write your name in heading element 
- Provide a link to your linkedIn profile through anchor tags and give label of your choice 
- Create different sections using 'section' tag, one for your skills and one for your projects. Give them the ids- "skills", "projects" 
- The projects should be listed in an unordered list 

** CSS part is optional. -->

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW4qxHMuIGS1OLpYXrHQ6Oq3wdgmE4e3us7A2qYXBC9O-VZ7sayVTfnYNupsL-ApnlsvQ&usqp=CAU">
<h1>Rajat Gaurav</h1>
<a href="https://www.linkedin.com/in/">linkedin</a>
<section id="projects">
<UL>
      
      <LI>project1
      <LI>project2
      <LI>project3
    </UL>
</section>
<section id="skills">
<UL>
      
      <LI>skill1
      <LI>skill2
      <LI>skill3
    </UL>
</section>